.inner {
  display: flex;
  justify-content: center;
  text-align: center;
}
.wrapper {
  padding: 40px 0;
  border-top: 1px solid #eee;
}
.title {
  font-size: 1.5em;
  margin-bottom: 50px;
}
.typeit {
  width: 100%;
  padding: 70px 0;
  font-size: 2em;
  line-height: 1.6;
}
.background {
  width: 98vw;
  height: 240px;
  background-image: url("https://images.unsplash.com/photo-1579546929518-9e396f3cc809?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1920&q=80");
  background-position: center;
}

/* Info */
.info_wrapper {
  display: flex;
  justify-content: center;
  gap: 40px;
  flex-wrap: wrap;
  padding: 0 20px;
  max-width: 600px;
}
.info_item {
  display: flex;
  justify-content: center;
  gap: 10px;
  /* width: 200px; */
}
.info_item_link {
  text-decoration: underline wavy #fccb00;
  transition: 0.3s;
}
.info_item_link:hover {
  color: #fccb00;
}
/* Skills */
.skill_wrapper {
  display: flex;
  justify-content: center;
}
.skill_items {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
  width: calc((60px * 5) + (30px * 4));
}
.icon {
  width: 60px;
  height: 60px;
}
.text {
  width: 60px;
  font-size: 0.8em;
  text-align: center;
}
/* Experience */
.exp_wrapper {
  display: flex;
  justify-content: center;
  padding: 0 20px;
}
.exp_items {
  width: 480px;
  position: relative;
}
.exp_items::before {
  content: "";
  width: 1px;
  height: 90%;
  background-color: #eee;
  position: absolute;
  top: 5%;
  left: 100px;
}
.exp_item {
  display: flex;
  gap: 50px;
  padding: 10px 0;
  text-align: left;
}
.exp_detail {
  padding: 5px 0 7px 0;
}
.year {
  width: 100px;
  font-weight: bold;
}
.highlight {
  display: inline-block;
  background: linear-gradient(to top, #ffffbb 40%, transparent 30%);
  padding: 0;
  margin-bottom: 5px;
}
.text_small {
  padding: 0;
  color: #555;
  font-size: 0.9em;
  font-weight: normal;
}

/* Links */
.link_wrapper {
  display: flex;
  justify-content: center;
  gap: 10px;
  padding: 0 20px;
}
.link_item {
  padding: 10px 20px;
  border-radius: 30px;
  transition: 0.5s;
  cursor: pointer;
}
.link_item:hover {
  background-color: #ffffbb;
  /* color: #fccb00; */
}
