.wrapper {
  padding: 2em;
  border-top: 1px solid #eee;
}
@media screen and (min-width: 1024px) {
  .wrapper {
    max-width: 1024px;
    margin: 0 auto;
  }
}
.inner {
  display: flex;
  justify-content: center;
  text-align: center;
}
.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.title {
  font-size: 1.5em;
  text-align: center;
  margin-bottom: 50px;
}

.rec_img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  overflow: hidden;
  box-shadow: 2px 3px 5px 4px rgba(0, 0, 0, 0.1);
}
.bg {
  width: 100%;
  background-image: url("https://images.unsplash.com/photo-1655012325185-9e4091a0481c?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1112&q=80");
  background-size: cover;
  background-color: #fbeee7;
  padding: 2.5em;
}
.name_wrapper {
  padding: 1em 0;
  color: #fff;
  text-align: center;
}
.text_wrapper {
  margin-bottom: 30px;
}
.typeit {
  width: 100%;
  padding: 20px 0;
  font-size: 1.1em;
  line-height: 1.6;
  margin-bottom: 20px;
}

/* Info */
.info {
  padding: 2.5em 0;
  text-align: center;
}
.link_btn {
  width: 230px;
  background-color: #ffffbb;
  padding: 10px 20px;
  border-radius: 20px;
  margin: 0 auto;
  transition: 0.3s;
}
.link_btn:hover {
  background-color: #fccb00;
  color: #fff;
}
/* Skills */
.skill_wrapper {
  display: flex;
  justify-content: center;
}
.skill_items {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
  width: calc((60px * 5) + (30px * 4));
}
.icon {
  width: 60px;
  height: 60px;
}
.text {
  width: 60px;
  font-size: 0.8em;
  text-align: center;
}
/* Experience */
.exp_wrapper {
  display: flex;
  justify-content: center;
  padding: 0 20px;
}
.exp_items {
  width: 480px;
  position: relative;
}
.exp_items::before {
  content: "";
  width: 1px;
  height: 90%;
  background-color: #eee;
  position: absolute;
  top: 5%;
  left: 100px;
}
.exp_item {
  display: flex;
  gap: 50px;
  padding: 10px 0;
  text-align: left;
}
.exp_detail {
  padding: 5px 0 7px 0;
}
.year {
  width: 100px;
  font-weight: bold;
}
.highlight {
  display: inline-block;
  background: linear-gradient(to top, #ffffbb 40%, transparent 30%);
  padding: 0;
  margin-bottom: 5px;
}
.text_small {
  padding: 0;
  color: #555;
  font-size: 0.9em;
  font-weight: normal;
}

/* Links */
.link_wrapper {
  display: flex;
  justify-content: center;
  gap: 10px;
  padding: 0 20px;
}
.link_item {
  padding: 10px 20px;
  border-radius: 30px;
  transition: 0.5s;
  cursor: pointer;
}
.link_item:hover {
  background-color: #ffffbb;
  /* color: #fccb00; */
}
