.container {
  display: flex;
}
.btn_top {
  padding-bottom: 20px;
  color: #777;
  text-align: center;
  transition: 0.3s;
  cursor: pointer;
}
.btn_top:hover {
  color: #fccb00;
}

/* PC */
.pc_container {
  min-width: 768px;
}
/* TABLET */

/* MOBILE */
.mobile_container {
  max-width: 767px;
}
