.list_wrapper {
  padding: 0 20px;
}
.works {
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 30px;
}
@media screen and (min-width: 1024px) {
  .works {
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 30px;
    max-width: 1000px;
    margin: 0 auto;
  }
}
/* filter */
.filters {
  display: flex;
  justify-content: center;
  gap: 20px;
  padding: 30px 0;
}
.filter_item {
  color: #333;
  transition: 0.3s;
  cursor: pointer;
}
.filter_item:hover {
  color: #fccb00;
}
.active {
  color: #fccb00;
  font-weight: bold;
}
