.list_wrapper {
  padding: 0 20px;
}
.works {
  display: flex;
  flex-wrap: wrap;
}

/* filter */
.filters {
  display: flex;
  justify-content: center;
  gap: 20px;
  padding: 30px 0;
}
.filter_item {
  color: #333;
  transition: 0.3s;
  cursor: pointer;
}
.filter_item:hover {
  color: #fccb00;
}
.active {
  color: #fccb00;
  font-weight: bold;
}
