.item {
  width: 33.33%;
  position: relative;
  overflow: hidden;
}
.img_wrapper {
  width: 100%;
  height: 100%;
}
.item_img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.item_hover {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  transform: translateY(100%);
  transition: 0.3s;
}
.item:hover .item_hover {
  transform: translateY(0);
}
.opacity {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  z-index: -1;
}
.hover_wrap {
  color: #fff;
  position: absolute;
  left: 20px;
  bottom: 20px;
}
.item_title {
  font-size: 1.2em;
}
.item_filter {
  padding: 10px 0 12px 0;
  font-size: 0.9em;
  font-style: italic;
}
.link_btn {
  color: #fff;
  margin-right: 10px;
  cursor: pointer;
  transition: 0.3s;
}
.link_btn:hover {
  color: #fccb00;
}
