.container {
  width: 100%;
  height: 100vh;
  padding: 50px 25px;
  background-color: rgba(0, 0, 0, 0.7);
  overflow: hidden;
}
.close_btn {
  color: #fff;
  position: fixed;
  top: 1%;
  right: 2%;
  cursor: pointer;
}

.inner {
  max-width: 800px;
  height: 100%;
  background-color: #fff;
  padding: 30px 50px;
  overflow-y: scroll;
  margin: 0 auto;
}
.image {
  width: 100%;
  overflow: hidden;
}
.image > img {
  width: 100%;
}
.title {
  padding: 20px 0;
  border-bottom: 1px solid #eee;
}
.bold {
  margin-right: 5px;
  font-weight: bold;
}
.link_wrap {
  display: flex;
  align-items: center;
}
.link {
  display: inline-block;
  width: 60%;
  color: tomato;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.link:hover {
  text-decoration: underline;
}
.desc {
  padding: 20px 0;
  border-top: 1px solid #eee;
}
.subtitle {
  padding: 20px 0 10px 0;
}
.tools {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}
.tool {
  padding: 5px 12px;
  background-color: #ffefb0;
  /* background-color: #fccb00; */
  border-radius: 10px;
  font-size: 0.9em;
}
.pd_15 {
  padding: 15px 0;
}
.mb_10 {
  margin-bottom: 10px;
}
